.undistributed {
    width: 70%;
    @media (max-width:1024px) {
      width: 100%;
    }
    &__title {
      margin-top: 50px;
      margin-bottom: 15px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }
    &__table {
      margin-bottom: 50px;
    }
  }