.menu {
    width: 15%;
    &__container {
        padding: 50px 20px;
    }
    &__title {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }
    &__line {
        margin-top: 25px;
        margin-bottom: 50px;
        width: 40px;
        height: 4px;
        background-color: #ffff00;
    }
    &__link {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        &_img {
            max-width: 30px;
            margin-right: 10px;
        }
        &_a {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
        }
    }


}