.league {
  width: 70%;
  margin-top: 50px;
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.league {
  &__button {
    background-color: #ffff00;
    a {
      color: #ff4d00;
    }
  }
  &__button:hover {
    background-color: #ff4d00 !important;
    a {
      color: #ffff00;
    }
  }
}

.openedLeague {
  width: 70%;
  @media (max-width: 1024px) {
    width: 100%;
  }
  &__title {
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    @media (max-width: 1024px) {
      margin-top: 10px;
    }
  }
  &__table {
    margin-bottom: 50px;
    @media (max-width: 1024px) {
      margin-bottom: 25px;
    }
  }
}

// ant design
.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  font-size: 18px;
  font-weight: 600;
  @media (max-width: 1440px) {
    font-size: 14px;
  }
  @media (max-width: 1200px) {
    font-size: 12px;
  }
}

.ant-pagination .ant-pagination-item-active {
  background-color: #ff4d00;
  border-color: #ff4d00;
}

.ant-pagination .ant-pagination-item-active:hover {
  border-color: #ffff00;
}

.ant-pagination .ant-pagination-item-active a {
  color: #ffffff;
}

.ant-pagination .ant-pagination-item-active:hover a {
  color: #ffffff;
}

.ant-pagination .ant-pagination-item a {
  color: #ffff00;
}

.ant-pagination-item-link {
  background-color: #ffff00 !important;
}

.ant-table-placeholder {
  font-size: 18px !important;
  color: #000 !important;
  font-weight: 600 !important;
}