.aside {
  width: 15%;
  @media (max-width: 1024px) {
    width: 100%;
  }
  &__container {
    margin: 50px 20px;
    @media (max-width: 1280px) {
      margin: 50px 10px;
    }
  }
  &__banner {
    background-color: #ffff00;
    border: 5px solid #ffff00;
    border-radius: 5px;
    &_title {
      padding: 5px 10px;
      color: #160f1f;
      font-size: 16px;
      font-weight: 600;
    }
    &_image {
      text-align: center;
      overflow-x: hidden;
      overflow-y: hidden;
      img {
        max-width: 100%;
        transition: 2s;
      }
      img:hover {
        filter: none;
        transform: scale(1.1);
        transform-origin: center;
      }
    }
  }
  &__user-info {
    margin-top: 50px;
    border: 5px solid #ffff00;
    border-radius: 5px;
    &_title {
      padding: 5px 10px;
      color: #160f1f;
      font-size: 16px;
      font-weight: 600;
      background-color: #ffff00;
    }
    &_account {
      margin: 25px 0px;
      padding-left: 10px;
      padding-right: 5px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      @media (max-width: 1536px) {
        font-size: 14px;
      }
      @media (max-width: 1366px) {
        font-size: 12px;
      }
      @media (max-width: 1280px) {
        font-size: 11px;
      }
    }
    &_balance {
      margin: 25px 0px;
      padding-left: 10px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 1536px) {
        font-size: 14px;
      }
      @media (max-width: 1366px) {
        font-size: 12px;
      }
      @media (max-width: 1280px) {
        font-size: 11px;
      }
    }
  }
  &__chat {
    margin-top: 50px;
    border: 5px solid #ffff00;
    border-radius: 5px;
    &_title {
      padding: 5px 10px;
      color: #160f1f;
      font-size: 16px;
      font-weight: 600;
      background-color: #ffff00;
    }
    &_body {
      margin: 25px 0px;
      padding-left: 10px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
