.home {
  width: 70%;
  @media (max-width: 1024px) {
    width: 100%;
  }
  &__container {
    padding: 50px 0px;
    @media (max-width: 1024px) {
      padding: 0px;
    }
  }
  &__banner {
    --ratio: 1920 / 1200;
    background-image: url("./../../assets/images/banner.jpg");
    height: calc(25vw * var(--ratio));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    @media (max-width: 1024px) {
      border-radius: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 480px) {
      height: calc(50vw * var(--ratio));
    }
  }
  &__title {
    padding-top: 150px;
    margin-left: 100px;
    margin-bottom: 25px;
    font-size: 42px;
    font-weight: 600;
    color: #fff;
    @media (max-width: 1280px) {
      font-size: 32px;
    }
    @media (max-width: 1024px) {
      padding-top: 0px;
      margin-left: 0px;
    }
    @media (max-width: 550px) {
      font-size: 24px;
    }
    @media (max-width: 460px) {
      font-size: 18px;
    }
    
  }
  &__subtitle {
    max-width: 500px;
    margin-left: 100px;
    font-size: 28px;
    font-weight: 600;
    color: #ff4d00;
    @media (max-width: 1280px) {
      font-size: 18px;
    }
    @media (max-width: 1024px) {
      margin-left: 0px;
      max-width: 80%;
       text-align: center;
    }
    @media (max-width: 550px) {
      font-size: 14px;
    }
    @media (max-width: 460px) {
      font-size: 12px;
    }
  }
  &__button {
    margin-left: 100px;
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 0);
    color: #160f1f;
    font-size: 16px;
    font-weight: 600;
    @media (max-width: 1024px) {
      margin-left: 0px;
      width: 50%;
    }
  }
}
