.news {
  width: 70%;
  @media (max-width: 1024px) {
    width: 100%;
  }
  &__container {
    margin-top: 50px;
    @media (max-width: 1024px) {
      margin-top: 0px;
      text-align: center;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }
  &__empty {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }
  &__item {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
    &_date {
      color: #808080;
    }
    &_title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: 600;
      color: #ff4d00;
    }
    &_img {
      text-align: center;
      img {
        max-width: 50%;
      }
    }
    &_description {
      margin-top: 25px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
    }
    &_link {
      a {
        font-weight: 600;
        color: #ff4d00;
      }
    }
    &_source {
      margin-top: 10px;
      color: #808080;
    }
  }
}
