/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #bababa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4d00;
}


body {
  max-width: 1920px;
  width: 100% !important;
  margin: 0 auto !important;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* for react-router-dom */
.active {
  color: #ff4d00 !important;
}

