body {
  max-width: 1920px;
  width: 100% !important;
  margin: 0 auto !important;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* for react-router-dom */
.active {
  color: #ff4d00 !important;
}

